VITE_SUPABASE_URL=https://onqxflwfkexitipylixc.supabase.co
VITE_SUPABASE_ANON_KEY=
VITE_TMDB_FUNCTION_URL=https://onqxflwfkexitipylixc.supabase.co/functions/v1/bright-handler
VITE_STREAM_BASE_URL=https://alx-api.onrender.com
VITE_EXTRACTOR_BASE_URL=https://api-alex-jney.onrender.com
VITE_CHANNELS_API_URL=https://alx-player.netlify.app/.netlify/functions/canais
VITE_EPG_API_URL=https://alx-player.netlify.app/.netlify/functions/programacao
VITE_GEMINI_FUNCTION_URL=https://onqxflwfkexitipylixc.supabase.co/functions/v1/smooth-endpoint
VITE_GEMINI_MODEL=gemini-3.5-flash
